In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
airports_df = pd.read_csv("airports.dat")

In [5]:
airports_df.head()

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10,U,Pacific/Port_Moresby,airport,OurAirports

In [9]:
first_row = {column: column for column in airports_df.columns}

In [15]:
airports_df = airports_df.append([first_row])

In [16]:
airports_df.tail()

,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
7538,13723,Augusto Severo Airport,Natal,Brazil,\N,SBNT,-5.91142,-35.2477,169,\N,\N,\N,airport,OurAirports
7539,13724,Kishangarh Airport,Ajmer,India,KQH,VIKG,26.6015,74.8141,0,\N,\N,\N,airport,OurAirports
7540,13725,Kannur International Airport,Kannur,India,CNN,VOKN,11.9186,75.5472,330,\N,\N,\N,airport,OurAirports
7541,13726,Beijing Xijiao Airport,Beijing,China,\N,ZBBB,39.9608,116.257,0,\N,\N,\N,airport,OurAirports
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081689834590001,145.391998291,5282,10,U,Pacific/Port_Moresby,airport,OurAirports

In [22]:
airports_df.rename(columns={
    "1": "index",
    "Goroka Airport": "Airport Name",
    "Goroka": "City",
    "Papua New Guinea": "Country",
    "GKA": "IATA Airport Code",
    "AYGA": "ICAO Airport Code",
    "-6.081689834590001": "Latitude",
    "145.391998291": "Longitude",
    "5282": "Altitude",
    "10": "Timezone",
    "U": "DST",
    "Pacific/Port_Moresby": "Tz database",
    "airport": "Type",
    "OurAirports": "Source"
}, inplace=True)

In [48]:
airports_df.reset_index(inplace=True)

In [51]:
airports_df.drop(columns=["level_0", "index"], inplace=True)

In [52]:
airports_df.head()

,Airport Name,City,Country,IATA Airport Code,ICAO Airport Code,Latitude,Longitude,Altitude,Timezone,DST,Tz database,Type,Source
0,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82679,144.296,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.5698,146.726,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.44338,147.22,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.58383,143.669,19,10,U,Pacific/Port_Moresby,airport,OurAirports

In [53]:
engine = create_engine("sqlite:///trafficking.sqlite" ,echo=False)
conn = engine.connect()

In [54]:
airports_df.to_sql("airports", conn, if_exists="replace")

In [58]:
trafficking_df = pd.read_sql_query("select * from trafficking_cases;", conn)

In [61]:
trafficking_df.columns

Index(['index', 'yearOfRegistration', 'Datasource', 'gender', 'ageBroad',
       'majorityStatus', 'majorityStatusAtExploit', 'majorityEntry',
       'citizenship', 'meansOfControlDebtBondage',
       'meansOfControlTakesEarnings', 'meansOfControlRestrictsFinancialAccess',
       'meansOfControlThreats', 'meansOfControlPsychologicalAbuse',
       'meansOfControlPhysicalAbuse', 'meansOfControlSexualAbuse',
       'meansOfControlFalsePromises', 'meansOfControlPsychoactiveSubstances',
       'meansOfControlRestrictsMovement', 'meansOfControlRestrictsMedicalCare',
       'meansOfControlExcessiveWorkingHours', 'meansOfControlUsesChildren',
       'meansOfControlThreatOfLawEnforcement',
       'meansOfControlWithholdsNecessities',
       'meansOfControlWithholdsDocuments', 'meansOfControlOther',
       'meansOfControlNotSpecified', 'meansOfControlConcatenated',
       'isForcedLabour', 'isSexualExploit', 'isOtherExploit', 'isSexAndLabour',
       'isForcedMarriage', 'isForcedMilitary', 'isOrganRemoval',
       'typeOfExploitConcatenated', 'typeOfLabourAgriculture',
       'typeOfLabourAquafarming', 'typeOfLabourBegging',
       'typeOfLabourConstruction', 'typeOfLabourDomesticWork',
       'typeOfLabourHospitality', 'typeOfLabourIllicitActivities',
       'typeOfLabourManufacturing', 'typeOfLabourMiningOrDrilling',
       'typeOfLabourPeddling', 'typeOfLabourTransportation',
       'typeOfLabourOther', 'typeOfLabourNotSpecified',
       'typeOfLabourConcatenated', 'typeOfSexProstitution',
       'typeOfSexPornography', 'typeOfSexRemoteInteractiveServices',
       'typeOfSexPrivateSexualServices', 'typeOfSexConcatenated',
       'isAbduction', 'RecruiterRelationship', 'CountryOfExploitation',
       'recruiterRelationIntimatePartner', 'recruiterRelationFriend',
       'recruiterRelationFamily', 'recruiterRelationOther',
       'recruiterRelationUnknown'],
      dtype='object')

In [83]:
intl_trafficking_cases = trafficking_df.groupby(by=['citizenship', 'CountryOfExploitation'])['index'].count()

In [68]:
intl_trafficking_cases

citizenship  CountryOfExploitation
AF           AF                          84
             SA                          14
AL           AL                          45
BD           TJ                          11
BF           SN                          33
BG           BG                         342
BO           AR                          18
BY           AE                          76
             BY                         381
             CY                          12
             PL                          23
             RU                         801
CD           UG                          53
CI           SN                          31
CN           US                         115
CO           EC                          13
ER           EG                          13
GH           GH                         545
GN           SN                          15
GW           SN                         145
HT           HT                         339
             US                          13
ID           AE                         326
             BH                          22
             ID                         245
             JO                          23
             MY                         529
             OM                          94
             QA                         152
             SA                         183
                                      ...
RO           RO                         273
             Y1                          40
SL           SL                          81
SN           SN                          70
SV           US                          11
TH           ID                          55
TJ           TJ                          77
TM           TM                          26
UA           AE                         100
             AT                          24
             BA                          13
             BG                          14
             CZ                          54
             KZ                          17
             MK                          54
             PL                         329
             RU                        1675
             TR                         239
             UA                        5245
             Y1                          15
UG           UG                          70
US           US                        4159
UZ           KZ                          57
             RU                          11
             UZ                         193
VN           KH                          46
             MY                         108
             VN                          16
ZZ           US                       12141
             ZZ                         177
Name: index, Length: 105, dtype: int64

In [70]:
countries_df = pd.read_sql_query("select * from country_codes;", conn)

In [71]:
countries_df.head()

   index country   latitude  longitude                  name
0      0      AD  42.546245   1.601554               Andorra
1      1      AE  23.424076  53.847818  United Arab Emirates
2      2      AF  33.939110  67.709953           Afghanistan
3      3      AG  17.060816 -61.796428   Antigua and Barbuda
4      4      AI  18.220554 -63.068615              Anguilla

In [84]:
intl_trafficking_cases = intl_trafficking_cases.reset_index().rename(columns={
    'index': 'Count'
})

In [85]:
intl_trafficking_cases.head()

  citizenship CountryOfExploitation  Count
0          AF                    AF     84
1          AF                    SA     14
2          AL                    AL     45
3          BD                    TJ     11
4          BF                    SN     33

In [89]:
intl_trafficking_cases = pd.merge(left=intl_trafficking_cases, right=countries_df, left_on='citizenship', right_on='country')\
  .drop(columns=['index', 'country'])\
  .rename(columns={
    'latitude': 'citizenshipLatitude',
    'longitude': 'citizenshipLongitude',
    'name': 'citizenshipFullCountry'
})

In [90]:
intl_trafficking_cases.head()

,citizenship,CountryOfExploitation,Count,citizenshipLatitude,citizenshipLongitude,citizenshipFullCountry
0,AF,AF,84,33.939110,67.709953,Afghanistan
1,AF,SA,14,33.939110,67.709953,Afghanistan
2,AL,AL,45,41.153332,20.168331,Albania
3,BD,TJ,11,23.684994,90.356331,Bangladesh
4,BF,SN,33,12.238333,-1.561593,Burkina Faso

In [92]:
intl_trafficking_cases = pd.merge(left=intl_trafficking_cases, right=countries_df, left_on='CountryOfExploitation', right_on='country')\
  .drop(columns=['index', 'country'])\
  .rename(columns={
    'latitude': 'CountryOfExploitationLatitude',
    'longitude': 'CountryOfExploitationLongitude',
    'name': 'CountryOfExploitationFullCountry'
})

In [93]:
intl_trafficking_cases.head()

,citizenship,CountryOfExploitation,Count,citizenshipLatitude,citizenshipLongitude,citizenshipFullCountry,CountryOfExploitationLatitude,CountryOfExploitationLongitude,CountryOfExploitationFullCountry
0,AF,AF,84,33.939110,67.709953,Afghanistan,33.939110,67.709953,Afghanistan
1,AF,SA,14,33.939110,67.709953,Afghanistan,23.885942,45.079162,Saudi Arabia
2,ID,SA,183,-0.789275,113.921327,Indonesia,23.885942,45.079162,Saudi Arabia
3,PH,SA,60,12.879721,121.774017,Philippines,23.885942,45.079162,Saudi Arabia
4,AL,AL,45,41.153332,20.168331,Albania,41.153332,20.168331,Albania

In [96]:
intl_trafficking_records = intl_trafficking_cases.to_json(orient='records')

In [110]:
# create the function
def df_to_line_geojson(df, properties, latitude1='latitude', longitude1='longitude',\
                       latitude2='latitude', longitude2='longitude'):
    """
    Turn a dataframe containing point data into a geojson formatted python dictionary

    df : the dataframe to convert to geojson
    properties : a list of columns in the dataframe to turn into geojson feature properties
    lat : the name of the column in the dataframe that contains latitude data
    lng : the name of the column in the dataframe that contains longitude data
    """

    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    # x is the equivalent of the row, df.iterrows converts the dataframe in to a pd.series object
    # the x is a counter and has no influence
    for x, row in df.iterrows():

        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'LineString',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'].append([float(row[latitude1]),float(row[longitude1])])
        feature['geometry']['coordinates'].append([float(row[latitude2]),float(row[longitude2])])

        # be aware that the dataframe is a pd.series
        #print('rowitem converts to ndarray(numpy) :\n ', row)
        # convert the array to a pandas.serie
        geo_props = pd.Series(row)

        # for each column, get the value and add it as a new feature property
        # prop determines the list from the properties
        for prop in properties:

            #loop over the items to convert to string elements

            #convert to string
            if type(geo_props[prop]) == float:
                #print('ok')
                geo_props[prop] = str(int(geo_props[prop]))

            # now create a json format, here we have to make the dict properties
            feature['properties'][prop] = geo_props[prop]

        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    return geojson

In [121]:
geojson_dict = df_to_line_geojson(intl_trafficking_cases, ['Count', 'citizenshipFullCountry', 'CountryOfExploitationFullCountry'], latitude1='citizenshipLatitude', longitude1='citizenshipLongitude',\
                  latitude2='CountryOfExploitationLatitude', longitude2='CountryOfExploitationLongitude')

In [122]:
geojson_dict['features'] = [ feature for feature in geojson_dict['features'] \
 if feature['geometry']['coordinates'][0] != feature['geometry']['coordinates'][1]]

In [123]:
geojson_dict

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'Count': 14,
    'citizenshipFullCountry': 'Afghanistan',
    'CountryOfExploitationFullCountry': 'Saudi Arabia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[33.93911, 67.709953], [23.885942, 45.079162]]}},
  {'type': 'Feature',
   'properties': {'Count': 183,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Saudi Arabia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327], [23.885942, 45.079162]]}},
  {'type': 'Feature',
   'properties': {'Count': 60,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Saudi Arabia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999], [23.885942, 45.079162]]}},
  {'type': 'Feature',
   'properties': {'Count': 11,
    'citizenshipFullCountry': 'Bangladesh',
    'CountryOfExploitationFullCountry': 'Tajikistan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[23.684994, 90.35633100000001],
     [38.861034000000004, 71.276093]]}},
  {'type': 'Feature',
   'properties': {'Count': 33,
    'citizenshipFullCountry': 'Burkina Faso',
    'CountryOfExploitationFullCountry': 'Senegal'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.238333, -1.561593],
     [14.497401000000002, -14.452361999999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 31,
    'citizenshipFullCountry': "CÃ´te d'Ivoire",
    'CountryOfExploitationFullCountry': 'Senegal'},
   'geometry': {'type': 'LineString',
    'coordinates': [[7.539989, -5.54708],
     [14.497401000000002, -14.452361999999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 15,
    'citizenshipFullCountry': 'Guinea',
    'CountryOfExploitationFullCountry': 'Senegal'},
   'geometry': {'type': 'LineString',
    'coordinates': [[9.945587, -9.696645],
     [14.497401000000002, -14.452361999999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 145,
    'citizenshipFullCountry': 'Guinea-Bissau',
    'CountryOfExploitationFullCountry': 'Senegal'},
   'geometry': {'type': 'LineString',
    'coordinates': [[11.803749, -15.180413],
     [14.497401000000002, -14.452361999999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 45,
    'citizenshipFullCountry': 'Mali',
    'CountryOfExploitationFullCountry': 'Senegal'},
   'geometry': {'type': 'LineString',
    'coordinates': [[17.570692, -3.9961660000000006],
     [14.497401000000002, -14.452361999999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 31,
    'citizenshipFullCountry': 'Niger',
    'CountryOfExploitationFullCountry': 'Senegal'},
   'geometry': {'type': 'LineString',
    'coordinates': [[17.607789, 8.081666],
     [14.497401000000002, -14.452361999999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 14,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'Bulgaria'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [42.733883, 25.48583]]}},
  {'type': 'Feature',
   'properties': {'Count': 18,
    'citizenshipFullCountry': 'Bolivia',
    'CountryOfExploitationFullCountry': 'Argentina'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-16.290154, -63.588653],
     [-38.416097, -63.616671999999994]]}},
  {'type': 'Feature',
   'properties': {'Count': 76,
    'citizenshipFullCountry': 'Belarus',
    'CountryOfExploitationFullCountry': 'United Arab Emirates'},
   'geometry': {'type': 'LineString',
    'coordinates': [[53.709807, 27.953389], [23.424076, 53.847818000000004]]}},
  {'type': 'Feature',
   'properties': {'Count': 326,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'United Arab Emirates'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327],
     [23.424076, 53.847818000000004]]}},
  {'type': 'Feature',
   'properties': {'Count': 13,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'United Arab Emirates'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999],
     [23.424076, 53.847818000000004]]}},
  {'type': 'Feature',
   'properties': {'Count': 100,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'United Arab Emirates'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [23.424076, 53.847818000000004]]}},
  {'type': 'Feature',
   'properties': {'Count': 12,
    'citizenshipFullCountry': 'Belarus',
    'CountryOfExploitationFullCountry': 'Cyprus'},
   'geometry': {'type': 'LineString',
    'coordinates': [[53.709807, 27.953389], [35.126413, 33.429859]]}},
  {'type': 'Feature',
   'properties': {'Count': 23,
    'citizenshipFullCountry': 'Belarus',
    'CountryOfExploitationFullCountry': 'Poland'},
   'geometry': {'type': 'LineString',
    'coordinates': [[53.709807, 27.953389], [51.919438, 19.145135999999997]]}},
  {'type': 'Feature',
   'properties': {'Count': 329,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'Poland'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [51.919438, 19.145135999999997]]}},
  {'type': 'Feature',
   'properties': {'Count': 801,
    'citizenshipFullCountry': 'Belarus',
    'CountryOfExploitationFullCountry': 'Russia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[53.709807, 27.953389], [61.52401, 105.31875600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 192,
    'citizenshipFullCountry': 'Kyrgyzstan',
    'CountryOfExploitationFullCountry': 'Russia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[41.20438, 74.766098], [61.52401, 105.31875600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 108,
    'citizenshipFullCountry': 'Nigeria',
    'CountryOfExploitationFullCountry': 'Russia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[9.081999, 8.675277000000001],
     [61.52401, 105.31875600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 1675,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'Russia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [61.52401, 105.31875600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 11,
    'citizenshipFullCountry': 'Uzbekistan',
    'CountryOfExploitationFullCountry': 'Russia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[41.377491, 64.585262], [61.52401, 105.31875600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 53,
    'citizenshipFullCountry': 'Congo [DRC]',
    'CountryOfExploitationFullCountry': 'Uganda'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-4.038333000000001, 21.758664000000003],
     [1.373333, 32.290275]]}},
  {'type': 'Feature',
   'properties': {'Count': 115,
    'citizenshipFullCountry': 'China',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[35.86166, 104.195397], [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 13,
    'citizenshipFullCountry': 'Haiti',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[18.971187, -72.28521500000001], [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 15,
    'citizenshipFullCountry': 'India',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[20.593684, 78.96288], [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 12,
    'citizenshipFullCountry': 'South Korea',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[35.907757000000004, 127.766922],
     [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 444,
    'citizenshipFullCountry': 'Mexico',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[23.634501, -102.552784], [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 46,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999], [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 11,
    'citizenshipFullCountry': 'El Salvador',
    'CountryOfExploitationFullCountry': 'United States'},
   'geometry': {'type': 'LineString',
    'coordinates': [[13.794185, -88.89653], [37.09024, -95.712891]]}},
  {'type': 'Feature',
   'properties': {'Count': 13,
    'citizenshipFullCountry': 'Colombia',
    'CountryOfExploitationFullCountry': 'Ecuador'},
   'geometry': {'type': 'LineString',
    'coordinates': [[4.570868, -74.297333],
     [-1.8312389999999998, -78.183406]]}},
  {'type': 'Feature',
   'properties': {'Count': 13,
    'citizenshipFullCountry': 'Eritrea',
    'CountryOfExploitationFullCountry': 'Egypt'},
   'geometry': {'type': 'LineString',
    'coordinates': [[15.179383999999999, 39.782334000000006],
     [26.820553000000004, 30.802497999999996]]}},
  {'type': 'Feature',
   'properties': {'Count': 22,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Bahrain'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327],
     [25.930414000000003, 50.637772]]}},
  {'type': 'Feature',
   'properties': {'Count': 253,
    'citizenshipFullCountry': 'Cambodia',
    'CountryOfExploitationFullCountry': 'Indonesia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.565679, 104.990963], [-0.789275, 113.921327]]}},
  {'type': 'Feature',
   'properties': {'Count': 1223,
    'citizenshipFullCountry': 'Myanmar [Burma]',
    'CountryOfExploitationFullCountry': 'Indonesia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[21.913965, 95.956223], [-0.789275, 113.921327]]}},
  {'type': 'Feature',
   'properties': {'Count': 55,
    'citizenshipFullCountry': 'Thailand',
    'CountryOfExploitationFullCountry': 'Indonesia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[15.870032, 100.992541], [-0.789275, 113.921327]]}},
  {'type': 'Feature',
   'properties': {'Count': 23,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Jordan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327],
     [30.585164000000002, 36.238414]]}},
  {'type': 'Feature',
   'properties': {'Count': 85,
    'citizenshipFullCountry': 'Sri Lanka',
    'CountryOfExploitationFullCountry': 'Jordan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[7.873054, 80.77179699999999],
     [30.585164000000002, 36.238414]]}},
  {'type': 'Feature',
   'properties': {'Count': 529,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Malaysia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327],
     [4.210483999999999, 101.97576600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 121,
    'citizenshipFullCountry': 'Cambodia',
    'CountryOfExploitationFullCountry': 'Malaysia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.565679, 104.990963],
     [4.210483999999999, 101.97576600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 149,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Malaysia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999],
     [4.210483999999999, 101.97576600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 108,
    'citizenshipFullCountry': 'Vietnam',
    'CountryOfExploitationFullCountry': 'Malaysia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[14.058323999999999, 108.277199],
     [4.210483999999999, 101.97576600000001]]}},
  {'type': 'Feature',
   'properties': {'Count': 94,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Oman'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327],
     [21.512583, 55.923255000000005]]}},
  {'type': 'Feature',
   'properties': {'Count': 152,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Qatar'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327], [25.354826, 51.183884]]}},
  {'type': 'Feature',
   'properties': {'Count': 87,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Qatar'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999], [25.354826, 51.183884]]}},
  {'type': 'Feature',
   'properties': {'Count': 37,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Singapore'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327], [1.352083, 103.819836]]}},
  {'type': 'Feature',
   'properties': {'Count': 41,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Syria'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327],
     [34.802075, 38.996815000000005]]}},
  {'type': 'Feature',
   'properties': {'Count': 85,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Trinidad and Tobago'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327], [10.691803, -61.222503]]}},
  {'type': 'Feature',
   'properties': {'Count': 33,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'Taiwan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327], [23.69781, 120.96051499999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 36,
    'citizenshipFullCountry': 'Indonesia',
    'CountryOfExploitationFullCountry': 'South Africa'},
   'geometry': {'type': 'LineString',
    'coordinates': [[-0.789275, 113.921327], [-30.559482, 22.937506]]}},
  {'type': 'Feature',
   'properties': {'Count': 94,
    'citizenshipFullCountry': 'Kyrgyzstan',
    'CountryOfExploitationFullCountry': 'Kazakhstan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[41.20438, 74.766098], [48.019573, 66.923684]]}},
  {'type': 'Feature',
   'properties': {'Count': 17,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'Kazakhstan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [48.019573, 66.923684]]}},
  {'type': 'Feature',
   'properties': {'Count': 57,
    'citizenshipFullCountry': 'Uzbekistan',
    'CountryOfExploitationFullCountry': 'Kazakhstan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[41.377491, 64.585262], [48.019573, 66.923684]]}},
  {'type': 'Feature',
   'properties': {'Count': 65,
    'citizenshipFullCountry': 'Cambodia',
    'CountryOfExploitationFullCountry': 'China'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.565679, 104.990963], [35.86166, 104.195397]]}},
  {'type': 'Feature',
   'properties': {'Count': 46,
    'citizenshipFullCountry': 'Vietnam',
    'CountryOfExploitationFullCountry': 'Cambodia'},
   'geometry': {'type': 'LineString',
    'coordinates': [[14.058323999999999, 108.277199],
     [12.565679, 104.990963]]}},
  {'type': 'Feature',
   'properties': {'Count': 20,
    'citizenshipFullCountry': 'Cambodia',
    'CountryOfExploitationFullCountry': 'Mauritius'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.565679, 104.990963],
     [-20.348404000000002, 57.552152]]}},
  {'type': 'Feature',
   'properties': {'Count': 254,
    'citizenshipFullCountry': 'Cambodia',
    'CountryOfExploitationFullCountry': 'Thailand'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.565679, 104.990963], [15.870032, 100.992541]]}},
  {'type': 'Feature',
   'properties': {'Count': 130,
    'citizenshipFullCountry': 'Laos',
    'CountryOfExploitationFullCountry': 'Thailand'},
   'geometry': {'type': 'LineString',
    'coordinates': [[19.856270000000002, 102.495496],
     [15.870032, 100.992541]]}},
  {'type': 'Feature',
   'properties': {'Count': 58,
    'citizenshipFullCountry': 'Myanmar [Burma]',
    'CountryOfExploitationFullCountry': 'Thailand'},
   'geometry': {'type': 'LineString',
    'coordinates': [[21.913965, 95.956223], [15.870032, 100.992541]]}},
  {'type': 'Feature',
   'properties': {'Count': 23,
    'citizenshipFullCountry': 'Moldova',
    'CountryOfExploitationFullCountry': 'Turkey'},
   'geometry': {'type': 'LineString',
    'coordinates': [[47.411631, 28.369884999999996], [38.963745, 35.243322]]}},
  {'type': 'Feature',
   'properties': {'Count': 239,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'Turkey'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [38.963745, 35.243322]]}},
  {'type': 'Feature',
   'properties': {'Count': 63,
    'citizenshipFullCountry': 'Moldova',
    'CountryOfExploitationFullCountry': 'Ukraine'},
   'geometry': {'type': 'LineString',
    'coordinates': [[47.411631, 28.369884999999996], [48.379433, 31.16558]]}},
  {'type': 'Feature',
   'properties': {'Count': 27,
    'citizenshipFullCountry': 'Nepal',
    'CountryOfExploitationFullCountry': 'Lebanon'},
   'geometry': {'type': 'LineString',
    'coordinates': [[28.394857000000002, 84.12400799999999],
     [33.854721000000005, 35.862285]]}},
  {'type': 'Feature',
   'properties': {'Count': 51,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Lebanon'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999],
     [33.854721000000005, 35.862285]]}},
  {'type': 'Feature',
   'properties': {'Count': 31,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Hong Kong'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999],
     [22.396428, 114.10949699999999]]}},
  {'type': 'Feature',
   'properties': {'Count': 123,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Japan'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999],
     [36.204824, 138.252924]]}},
  {'type': 'Feature',
   'properties': {'Count': 210,
    'citizenshipFullCountry': 'Philippines',
    'CountryOfExploitationFullCountry': 'Kuwait'},
   'geometry': {'type': 'LineString',
    'coordinates': [[12.879721, 121.77401699999999],
     [29.311659999999996, 47.481766]]}},
  {'type': 'Feature',
   'properties': {'Count': 114,
    'citizenshipFullCountry': 'Romania',
    'CountryOfExploitationFullCountry': 'Bosnia and Herzegovina'},
   'geometry': {'type': 'LineString',
    'coordinates': [[45.943160999999996, 24.96676],
     [43.915886, 17.679076000000002]]}},
  {'type': 'Feature',
   'properties': {'Count': 13,
    'citizenshipFullCountry': 'Ukraine',
    'CountryOfExploitationFullCountry': 'Bosnia and Herzegovina'},
   'geometry': {'type': 'LineString',
    'coordinates': [[48.379433, 31.16558], [43.915886, 17.679076000000002]]}},
  {'type': 'Feature',
   'properties': {'Count': 17,
    'citizenshipFullCountry': 'Romania',
    'CountryOfExploitationFullCountry': 'Denmark'},
   'geometry': {'type': 'LineString',
    'coordinates': [[45.943160999999996, 24.96676], [56.26392, 9.501785]]}},
  {'type': 'Feature',
   'properties': {'Count': 28,
    'citizenshipFullCountry': 'Romania',
    'CountryOfExploitationFullCountry': 'Italy'},
   'geometry': {'type': 'LineString',
    'coordinates': [[45.943160999999996, 24.96676], [41.87194, 12.56738]]}},
  {'type': 'Feature',
   'properties': {'Count': 140,
    'citizenshipFullCountry': 'Romania',
    'CountryOfExploitationFullCountry': 'Macedonia [FYROM]'},