In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
countries_data = pd.read_csv("country_codes.csv")

In [4]:
countries_data.head()

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [5]:
engine = create_engine("sqlite:///trafficking.sqlite" ,echo=False)
conn = engine.connect()

In [8]:
countries_data.to_sql("country_codes", conn, if_exists="replace")